[submodule "dependencies/amneziawg-tools"]
	path = dependencies/amneziawg-tools
	url = https://github.com/TrueBad0ur/amneziawg-tools.git
[submodule "dependencies/amneziawg-go"]
	path = dependencies/amneziawg-go
	url = https://github.com/TrueBad0ur/amneziawg-go.git
